<div
  class="max-w-22rem flex flex-column align-items-center p-5 mx-auto mt-6 border-1 border-black-alpha-10 border-round-md shadow-2"
>
  <div class="flex flex-column align-items-center gap-2">
    <h2 class="m-0 mb-2 text-700 font-medium">Continue with</h2>
    <div class="flex flex-row gap-2">
      <p-button
        label="Google"
        severity="secondary"
        icon="pi pi-google"
        (click)="onSignUpWithGoogle()"
      />
      <p-button
        styleClass="w-full"
        label="GitHub"
        severity="secondary"
        icon="pi pi-github"
        (click)="onSignUpWithGitHub()"
      />
    </div>
  </div>

  <div>
    <div class="flex align-items-center justify-content-center mt-3">
      <div class="w-full bg-gray-500" [style]="{ height: '1px' }"></div>
      <span class="px-2 text-700">or</span>
      <div class="w-full bg-gray-500" [style]="{ height: '1px' }"></div>
    </div>

    <h2 class="m-0 my-5 text-center text-700 font-medium">
      {{ isRegisterMode() ? "Sign Up" : "Sign In" }}
    </h2>
    <form
      class="flex flex-column gap-5"
      [formGroup]="authForm"
      (submit)="onSubmit()"
    >
      <div class="flex flex-column gap-1">
        <span class="p-input-icon-left p-float-label">
          <i class="pi pi-envelope"></i>
          <input type="text" id="email" pInputText formControlName="email" />
          <label for="email">Email Address</label>
        </span>
        @if (email.invalid && (email.dirty || email.touched)) {
          <small class="block p-error">
            @if (email.errors?.["required"]) {
              <div>Email is required.</div>
            }
            @if (email.errors?.["email"]) {
              <div>Email must be valid.</div>
            }
          </small>
        }
      </div>

      <div class="flex flex-column gap-1">
        <span class="p-float-label">
          <p-password
            [feedback]="false"
            [toggleMask]="true"
            formControlName="password"
          />
          <label for="password">Password</label>
        </span>
        @if (password.invalid && (password.dirty || password.touched)) {
          <small class="block p-error">
            @if (password.errors?.["required"]) {
              <div>Password is required.</div>
            }
            @if (password.errors?.["minlength"]) {
              <div>Password must contain at least 6 characters.</div>
            }
            @if (password.errors?.["maxlength"]) {
              <div>Password must not exceed 32 characters.</div>
            }
          </small>
        }
      </div>

      <p-button
        styleClass="w-full"
        type="submit"
        [label]="isRegisterMode() ? 'Register' : 'Login'"
        [disabled]="authForm.invalid"
        [loading]="isLoading()"
      />
    </form>

    <div class="flex gap-1">
      <p>
        {{
          isRegisterMode() ? "Already registered?" : "Don't have an account?"
        }}
      </p>
      <p
        class="font-bold cursor-pointer"
        (click)="onToggleFormMode()"
        (keydown.enter)="onToggleFormMode()"
        tabindex="0"
        role="button"
      >
        {{ isRegisterMode() ? "Login" : "Register" }}
      </p>
    </div>
  </div>
</div>
