<nav
  class="w-full flex align-items-center justify-content-between px-5"
  [style]="{
    'background-color': 'var(--highlight-bg)',
  }"
>
  <a routerLink="/" class="no-underline">
    <h1 [style]="{ color: 'var(--primary-color)' }">Polling App</h1>
  </a>

  @if (isAuthenticated()) {
    <div>
      <p-menu #menu [model]="items" [popup]="true" />
      <p-button
        icon="pi pi-user"
        [rounded]="true"
        severity="info"
        (click)="menu.toggle($event)"
        role="button"
        aria-label="Open user menu"
        tabindex="0"
      />
    </div>
  } @else {
    <p-button label="Get Started" routerLink="/auth" />
  }
</nav>
