<p-card styleClass="h-full" class="custom-card" (click)="showDialog()">
  <div class="flex flex-row align-items-center justify-content-center gap-2">
    <i class="pi pi-plus"></i>
    <h4 class="font-semibold">Create Poll</h4>
  </div>
</p-card>

<p-dialog
  header="Choose poll type"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw', maxWidth: '30rem' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="grid gap-3 align-items-center justify-content-center">
    <div
      class="col-10 md:col-5 flex md:p-4 mt-4 flex-column align-items-center text-center border-1 custom-card"
      (click)="onRedirectToPollCreator(pollType.Anonymous)"
    >
      <h3 class="m-0 flex flex-row gap-2 align-items-center">
        <i class="pi pi-lock"></i>Anonymous
      </h3>
      <h5>Only you can see results</h5>
    </div>
    <div
      class="col-10 md:col-5 flex md:p-4 mt-4 flex-column align-items-center text-center border-1 custom-card"
      (click)="onRedirectToPollCreator(pollType.Public)"
    >
      <h3 class="m-0 flex flex-row gap-2 align-items-center">
        <i class="pi pi-users"></i>Public
      </h3>
      <h5>Everyone can see results</h5>
    </div>
  </div>
</p-dialog>
