<div
  class="flex flex-column align-items-center max-w-30rem mx-auto justify-content-center gap-6"
>
  <app-profile-header />
  <div class="w-full">
    <app-card-wrapper title="Username" icon="pi pi-user">
      <p class="mb-6">
        Your username will be visible to other Polling App users if you share
        polls or decide to participate in comments section.
      </p>
      <app-username-form />
    </app-card-wrapper>
  </div>
  <div class="w-full">
    <app-card-wrapper title="Account deletion" icon="pi pi-trash">
      <app-delete-profile />
    </app-card-wrapper>
  </div>
</div>
