@if (polls$ | obsWithStatus | async; as polls) {
  @if (polls.value) {
    <div class="flex flex-wrap gap-4 justify-content-center">
      <div class="w-full h-18rem lg:w-18rem">
        <app-create-poll-card />
      </div>
      @for (poll of polls.value; track poll.id) {
        <div class="w-full h-18rem lg:w-18rem">
          <app-user-poll-card [poll]="poll" />
        </div>
      }
    </div>
    @if (polls.value.length === 0) {
      <div class="mt-8">
        <h3 class="text-400 font-medium text-center">No polls found</h3>
      </div>
    }
  } @else if (polls.isLoading) {
    <p-progressSpinner
      styleClass="w-full m-auto"
      strokeWidth="4"
      ariaLabel="loading"
    />
  } @else {
    <app-not-found>
      <p>{{ polls.error }}</p>
    </app-not-found>
  }
}
