<div class="mt-6">
  @if (poll$ | obsWithStatus | async; as poll) {
    @if (poll.value) {
      <div class="flex flex-column gap-4">
        <div class="flex gap-2">
          <app-go-back-button />
          <a
            routerLink="/polls/{{ poll.value.id }}/vote"
            class="p-button p-button-success no-underline"
            >Vote</a
          >
        </div>
        <h4 class="text-400 font-medium">
          Created: {{ poll.value.createdAt.toDate() | date: "short" }} by
          <span class="font-bold">
            @if (poll.value.author?.name) {
              {{ poll.value.author?.name }}
            } @else {
              unknown
            }
          </span>
        </h4>

        <app-card-wrapper [title]="'Title: ' + poll.value.title">
          <div>
            <h4 class="text-400 font-medium">
              Multiple choice:
              {{ poll.value.multipleChoicesAllowed ? "Yes" : "No" }}
            </h4>
            <h4 class="text-400 font-medium">
              Answers ({{ poll.value.votedBy.length }}
              {{
                poll.value.votedBy.length === 0 || poll.value.votedBy.length > 1
                  ? "interviewees"
                  : "interviewee"
              }}):
            </h4>
            <ul class="flex flex-column gap-2">
              @for (
                option of poll.value.options;
                track index;
                let index = $index
              ) {
                <li>{{ option.value }} - {{ option.votes }} votes</li>
              }
            </ul>
            @if (hasVotes()) {
              <div class="mt-6">
                <p-dropdown
                  id="chartTypeDropdown"
                  [options]="chartTypes()"
                  [(ngModel)]="selectedChartType"
                  optionLabel="label"
                />
              </div>
              <div class="flex justify-content-start mt-4">
                <p-chart
                  [type]="selectedChartType().value"
                  [data]="getChartData()"
                />
              </div>
            }
          </div>
        </app-card-wrapper>
      </div>
    } @else if (poll.isLoading) {
      <p-progressSpinner
        styleClass="w-full m-auto"
        strokeWidth="4"
        ariaLabel="loading"
      />
    } @else {
      <app-not-found>
        <p>Poll not found</p>
      </app-not-found>
    }
  }
</div>
