<div
  class="flex flex-column justify-content-center align-items-center p-4 px-0 sm:px-4"
>
  <div class="text-center mb-4">
    <h1 class="md:text-6xl font-bold text-blue-400">Engage and Vote</h1>
    <h3 class="md:text-2xl font-semibold mb-4 text-gray-400">
      Create, share, and participate in polls effortlessly.
    </h3>
    <p-button
      label="Get Started"
      icon="pi pi-arrow-right"
      iconPos="right"
      routerLink="/auth"
    />
  </div>
  <div class="flex justify-content-center">
    <img
      src="assets/images/hero.png"
      alt="Hero"
      class="w-full max-w-lg md:max-w-2xl lg:max-w-3xl"
      style="height: auto"
      loading="eager"
      fetchpriority="high"
    />
  </div>
</div>
